
.flex1{
	flex:1;
}
.flex2{
	flex:2;
}


.margin2{
	margin:2;
}

.margin4{
	margin:4;
}

.margin6{
	margin:6;
}


.radius2{
	border-radius:2;
}

.radius4{
	border-radius:4;
}

.radius8{
	border-radius:8;
}


.row-flex-center{
	flex-direction:row;
	justify-content:center;	
	align-items:center;
}

.column-flex-center{
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.button{
	justify-content:center;
	flex-wrap:wrap;
	flex-direction:row;
	flex:1;
	
	
	

} 

.ctrlbox{
height:40;
padding:0 8 0 8;
}

.button-image{
	
	width:24;
	height:24;
	margin:0 4 0 4;
	align-self: center;
}

.button-rimage{
	
	width:24;
	height:24;
	margin:0 4 0 4;
	align-self: center;
}

.button-text{
	text-align:center;
	text-overflow:ellipsis;
	singleline:true;
	line-space:0;
	padding: 0;
	font-size:16;
	
}

.round{
	width:40;
	height:40;
	border-radius:20;	
}

/**********  tip样式 开始 ************/
.tip{	
	flex-direction:row;
	align-items:center;
	height:20;
	
	justify-content:center;
	border-radius:10;
	margin:0 0 0 8;
	align-self: center;

}
.tip-outline{	
	flex-direction:row;
	align-items:center;
	height:20;
	
	justify-content:center;
	border-radius:10;
	margin:0 0 0 8;
	align-self: center;
}

.tip-text{

	text-align:center;	
	line-space:0dp;
	font-size:12;
	margin:0 6.5 0 6.5;
}

/**********  tip样式 结束 ************/